CompileFlags:
  CompilationDatabase: build/

Diagnostics:
  UnusedIncludes: Strict   # Strict checking for unused includes
  ClangTidy:
    Add: 
      - cppcoreguidelines-*  # Enable C++ Core Guidelines checks
      - modernize-*          # Suggest modern C++ practices
      - performance-*        # Optimize performance
      - bugprone-*           # Detect potential bugs
      - cert-*               # CERT secure coding guidelines
      - portability-*        # Portability checks
      - readability-*         # Improve code readability
    Remove:
      - modernize-use-trailing-return-type
      - misc-non-private-member-variables-in-classes
      - readability-function-cognitive-complexity
      - bugprone-narrowing-conversions
      - readability-magic-numbers
      - misc-non-private-member-variables-in-classes
      - cppcoreguidelines-narrowing-conversions
      - cppcoreguidelines-avoid-magic-numbers
      - cppcoreguidelines-non-private-member-variables-in-classes

Index:
  Background: Build         # Enable background indexing