CompileFlags:
  CompilationDatabase: build/

Diagnostics:
  UnusedIncludes: Strict   # Strict checking for unused includes
  ClangTidy:
    Add: 
      - cppcoreguidelines-*  # Enable C++ Core Guidelines checks
      - modernize-*          # Suggest modern C++ practices
      - performance-*        # Optimize performance
      - bugprone-*           # Detect potential bugs
      - cert-*               # CERT secure coding guidelines
      - portability-*        # Portability checks
      - readability-*         # Improve code readability

Index:
  Background: Build         # Enable background indexing