services:
  mira:
    image: mira
    stdin_open: true
    tty: true
    volumes:
      - .:/workspace
    user: "${UID}:${GID}"
    network_mode: host
    working_dir: /workspace
    entrypoint: /bin/bash
