<!-- camera_reader_uvc.launch.xml -->
<launch>
    <!-- List devices only -->
    <arg name="list_devices" default="false"/>

    <!-- Streaming parameters -->
    <arg name="stream"        default="true"/>
    <arg name="vendor_id"     default="0x0c45"/>
    <arg name="product_id"    default="0x6366"/>
    <arg name="serial_no"     default=""/>
    <arg name="display"       default="true"/>
    <arg name="verbose"       default="false"/>
    <arg name="image_width"   default="640"/>
    <arg name="image_height"  default="480"/>
    <arg name="frame_format"  default="MJPEG"/>
    <arg name="framerate"     default="30"/>
    <arg name="create_server" default="false"/>

    <node pkg="camera_driver_uvc"
          exec="camera_driver_uvc"
          name="camera_frontcam"
          output="screen">
        <param name="list_devices" value="$(var list_devices)"/>
        <param name="stream"        value="$(var stream)"/>
        <param name="vendor_id"     value="$(var vendor_id)"/>
        <param name="product_id"    value="$(var product_id)"/>
        <param name="serial_no"     value="$(var serial_no)"/>
        <param name="display"       value="$(var display)"/>
        <param name="verbose"       value="$(var verbose)"/>
        <param name="image_width"   value="$(var image_width)"/>
        <param name="image_height"  value="$(var image_height)"/>
        <param name="frame_format"  value="$(var frame_format)"/>
        <param name="framerate"     value="$(var framerate)"/>
        <param name="create_server" value="$(var create_server)"/>
    </node>
</launch>
